/* default styling: */
.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

/* to prevent android dark mode from inverting the background color  */
.night_mode.target [style*="background:"] {
    filter: invert(100%);
}


.outerBox {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

#hanziAnimationDiv {
    /* in the flex box */

    /* round the corners */
    border-radius: 25px; 

    
}

.buttonContainer {
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.changeSizeButton {
    /* height: 15px;
    width: 15px; */
    padding: 5px 10px;
    border-radius: 50%;
}


